extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title

  .row
    .col-12.col-lg-8
      p
        | LOC8R was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Whether you're looking for a cozy café or a quiet spot with free wifi, LOC8R helps you find the ideal location to be productive and comfortable.
        | <br /><br />
        | LOC8R is designed to solve the problem of finding reliable and comfortable places for remote work. It’s a one-stop solution to search for places that offer essential amenities like wifi, seating, food, and beverages.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan. Aliquam erat volutpat. Praesent pulvinar commodo orci, at molestie mauris sollicitudin eu.
        | <br /><br />
        | Curabitur vehicula, ligula eu bibendum tristique, turpis lorem interdum magna, nec blandit purus augue ut sapien.
        | <br /><br />
        | LOC8R also provides detailed information about each location, such as ratings, available amenities, and proximity to other places, so you can easily make an informed decision.
        | <br /><br />
        | Whether you need a spot to focus for a few hours or a place to relax, LOC8R is designed to help you find the best places for both work and leisure.
