doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand LOC8R
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About

          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='#') Hi #{user.username}
              li
                a(href='/logout') Logout
            else
              li
                a(href='/login') Login

    .container(style='padding-top:120px')
      if error.length
        .alert.alert-danger= error[0]
      if success.length
        .alert.alert-success= success[0]

      block content

    footer.text-center
      small © Rithik Loc8r Application 2024

    block scripts
